---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import PopupPreventivo from '../components/PopupPreventivo.astro';
import '../styles/global.css';

export interface Props {
	title: string;
	seoTitle?: string;
	seoDescription?: string;
}

const { title, seoTitle, seoDescription } = Astro.props;
const brandTitle = 'Battistel - Combustibili e Lubrificanti';
const currentPath = Astro.url.pathname;
const isHomePage = currentPath === '/' || currentPath === '/index.html';
const pageTitle = (title || '').trim();
const resolvedTitle = isHomePage
	? brandTitle
	: `${brandTitle} - ${pageTitle || seoTitle || 'Pagina'}`;

let faviconSrc = '/favicon_battistel.svg';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href={faviconSrc} />
		<link rel="shortcut icon" href={faviconSrc} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{resolvedTitle}</title>
		{seoDescription && <meta name="description" content={seoDescription} />}
		<script
			defer
			src="https://umami.asoloweb.it/script.js"
			data-website-id="c159130a-f157-41c7-805e-d01101e3bafe"
		></script>
		<link
			rel="preload"
			href="/fonts/roboto-latin-400-normal.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="preload"
			href="/fonts/roboto-latin-500-normal.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="preload"
			href="/fonts/roboto-latin-700-normal.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="preload"
			href="/vendor/aos.css"
			as="style"
			onload="this.onload=null;this.rel='stylesheet'"
		/>
		<link
			rel="preload"
			href="/vendor/swiper-bundle.min.css"
			as="style"
			onload="this.onload=null;this.rel='stylesheet'"
		/>
		<noscript>
			<link rel="stylesheet" href="/vendor/aos.css" />
			<link rel="stylesheet" href="/vendor/swiper-bundle.min.css" />
		</noscript>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<PopupPreventivo />
		<Footer />
		<script defer src="/vendor/aos.js"></script>
		<script defer src="/vendor/swiper-bundle.min.js"></script>
		<script defer src="/scripts/aos-init.js"></script>
		<script defer src="/scripts/swiper-init.js"></script>
	</body>
</html>
